.carritoDeCompras {
    width: 4rem;
    background-color: rgba(35,35,59,255);
}

.cantidad {
    color:rgb(255, 255, 255);
    font-size: 25px;
    margin-right: 3rem;
}

.div {
    display: flex;
    align-items: center;
}